<h1><%= t "sample_app" %></h1>
<p> <%= t "hi" %> <%= @user.name %>,</p>
<p>
  <%= t "welcome_to_the_sample_app_click_on_the_link_below_to_activate_your_account" %>
</p>
<%= link_to t("activate"), edit_account_activation_url(id: @user.activation_token,
  email: @user.email) %>
